body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image:url("../img/residential1.jpg");
}
.Boxes{
	position: relative;
	width: 1000px;
	margin: 150px auto 0;
	height: auto ;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 440px;
	grid-gap: 40px;
}
.Boxes .card{
	position: relative;
	background: #ccc;
	overflow: hidden;
	border-radius: 10px;
	transition: 0.9s;

}
.Boxes .card .img-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;

}
.Boxes .card:hover .img-box{
	opacity: 0.5;
}
.Boxes .card .img-box img{
	width: 100%;
}
.Boxes .card .content{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: -100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}
.Boxes .card:hover .content{
	bottom: 0;

}
.Boxes .card:nth-child(1) .content{
	background: linear-gradient(0deg,#5e11f9,transparent);
}
.Boxes .card:nth-child(2) .content{
	background: linear-gradient(0deg,#11b0f9,transparent);
}
.Boxes .card:nth-child(3) .content{
	background: linear-gradient(0deg,#6a11f9,transparent);
}
.Boxes .card .content a{
	color: white;
	text-decoration: none;
}
.Boxes .card .content{
	color: white;
	font-size: 20px;
}
.Boxes .card .content span{
	color: white;
	font-size: 19px;
}
.Boxes .card .content p{
	color: white;
	font-size: 16px;
}